.banner-bg {
  background-color: rgba(29, 29, 29, 0.7);
}
.carousel-item img {
  min-height: 280px;
  max-height: 90vh;
}

/* Mobile Responsive */
@media only screen and (max-width: 576px) {
  .course-img {
    width: 100%;
    height: 300px !important;
  }
}
